h1 {color: white;}
.job { color: white;}
header { background-color: #782221;}

.contact { background-color: #2c1d27;}
a { color: white}

.perso { background-color: #782221;}
h2 { background-color: #dbc2a4;}