.name { display: flex;
flex-direction: column;
align-items: center;
width: 1160px;
}

.contact { display: flex;
flex-direction: row;
justify-content: space-around;
width: 1160px;}

.text { display:flex;
width: 1160px;
flex-wrap: wrap;
 ;}

.main { display:flex;
    align-items: flex-start;
width: 1160px;}

.perso { display: flex;
flex-direction: column ;
flex-grow: 1;
}

.pro { display:flex;
flex-direction: column;
flex-grow: 2;}

.info {display: flex;}

.lien {display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 1160px;
flex-grow: 3;}

h2 { margin-right: 50px;}

body {display: inline-flex;
width: 1160px;}